{% extends "feed/base.html" %}
{% block content %}
  <!-- <h1>Prescription Feed</h1> -->
  {% for prescription in prescriptions %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">Prescribed by {{ prescription.prescriber }}</a>
          <small class="text-muted">Prescribed on {{ prescription.date }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ prescription.name }}</a></h2>
        <p class="article-content">NDC: {{ prescription.ndc }}</p>
      </div>
    </article>
  {% endfor %}
{% endblock content %}
